In [ ]:
#r-*
#  *   *
#  *   *   *
#  *   *   *   *
#  *   *   *   *   *

In [5]:
for i in range(6):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#a)

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [54]:
for a in range(6):
    for b in range(1,a+1):
        print(b, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#e-
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [10]:
for a in range(6):
    for b in range(1, a+1):
        print(a, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#f-
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [19]:
for a in range(5,0,-1):
    for b in range(5, a-1,-1):
        print(a, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
#g)
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [62]:
for a in range(5,0,-1):
    for b in range(a):
        print(a, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [48]:
#-C.
for a in range(5,0,-1):
    for b in range(a):
        print(a, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [36]:
#B-
for s in range(5):
    for t in range(5,s,-1):
        print(t,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
#d)

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [27]:
for a in range(6,0,-1):
    for b in range(1,a):
        print(b, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#s)

*   *   *   *   *
*   *   *   *
*   *   *
*   *
*

In [28]:
for s in range(5):
    for t in range(5,s,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [58]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [61]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(i+1, end=" ")
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [62]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
a=1
b=2
for i in range(4):
    for j in range(1,b):
        print(a, end=" ")
        a += 1
    print()
    b +=1

1
2 3
4 5 6
7 8 9 10

In [20]:
str = "A B C D E"
for i in range(6):
    print(str[:i*2])

A
A B
A B C
A B C D
A B C D E

In [23]:
str = "ABCDE"
for i in range(5):
    print(str[i]*(i+1))

A
BB
CCC
DDDD
EEEEE

In [1]:
str = "PYTHON"
for i in range(len(str)):
    for j in range(i+1):
        print(str[j], end=" ")
    print()

P
P Y
P Y T
P Y T H
P Y T H O
P Y T H O N

In [2]:
num = 5
for i in range (1, num + 1):
      sp = (num - i) * "  "
      print(sp, end = " ")
      for k in range(i, 1, -1):
          print(i, end = " ")
      for j in range(1, i + 1):
          print(i, end = " ")
      print()

         1
       2 2 2
     3 3 3 3 3
   4 4 4 4 4 4 4
 5 5 5 5 5 5 5 5 5

In [10]:
for i in range(5):
    for j in range(5-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print("*", end=" ")
    for j in range(1, i+1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#k-
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [67]:
for a in range(6):
    for b in range(a, 0, -1):
        print(b, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#m)
1
2 3 4
5 6 7 8 9

In [70]:
a=1
b=2
for i in range(3):
    for j in range(1,b):
        print(a, end=" ")
        a += 1
    print()
    b +=2

1
2 3 4
5 6 7 8 9

In [ ]:
#n)
0  
0 1  
0 2 4  
0 3 6 9
0 4 8 12 16

In [110]:
rows=4
for i in range(0, rows+1):
    for j in range(0,i+1):
        print(i*j, end=" ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

In [ ]:
#p)
1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [157]:
rows=5
for s in range(1,rows+1):
    for t in range(s):
        print(s, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#q)
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [117]:
rows=5
for s in range(1,rows+1):
    for t in range(s):
        print(s*2-1, end = " ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9