In [ ]:
#Q1. Write a program to print first 10 even numbers.

#Q2. Write a program to print first 10 odd numbers.

#Q3. Write a program to print first 10 even numbers in reverse order.

#Q6. Write a program to print numbers from 1 to 20 except multiple of 2 & 3.

In [5]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [6]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [10]:
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [16]:
for t in range(1,21):
        if t%2!=0 and t%3!=0:
            print(t)

1
5
7
11
13
17
19

In [ ]:
#Q7. Write a program to accept 10 numbers from the user and display itâ€™s average.

#Q8. Write a program to accept 10 numbers from the user and display the largest & smallest number.

#Q9. Write a program to print only odd numbers from the given list using for loop.
#L = [23, 45, 32, 25, 46, 33, 71, 90]

In [17]:
s = 0
for i in range(10):
    n = int(input("Enter Number of Choice : "))
    s += n
print("The sum of numbers is", s)
print("The Average of numbers is", s/10)

Enter Number of Choice : 1
Enter Number of Choice : 5
Enter Number of Choice : 8
Enter Number of Choice : 4
Enter Number of Choice : 9
Enter Number of Choice : 3
Enter Number of Choice : 2
Enter Number of Choice : 10
Enter Number of Choice : 8
Enter Number of Choice : 12
The sum of numbers is 62
The Average of numbers is 6.2

In [1]:
l = []
for i in range(10):
    n = int(input("Enter the number of choice : "))
    l.append(n)
print("The smallest number in the list is", min(l))
print("The Largest number in the list is", max(l))

Enter the number of choice : 1
Enter the number of choice : 2
Enter the number of choice : 3
Enter the number of choice : 4
Enter the number of choice : 5
Enter the number of choice : 6
Enter the number of choice : 7
Enter the number of choice : 8
Enter the number of choice : 9
Enter the number of choice : 100
The smallest number in the list is 1
The Largest number in the list is 100

In [1]:
list1 = [23, 45, 32, 25, 46, 33, 71, 90]
for i in list1:
    if i % 2 != 0:
        print(i, end=" ")

23 45 25 33 71