In [ ]:
#STRING PRACTICE

In [2]:
str1 = "My name is sharvari" 
print(str1)

My name is sharvari

In [5]:
#multi line string
str2 = """"my name is sharvari 
and 
i am 23 years old""" 
print(str2)

"my name is sharvari
and
i am 23 years old

In [6]:
#STRING FUNCTIONS
#1-LOWER()

str1 = "My name is sharvari" 
str1.lower()

'my name is sharvari'

In [7]:
#2-UPPER()
str1.upper()

'MY NAME IS SHARVARI'

In [8]:
#3-TITLE() 
str1.title()

'My Name Is Sharvari'

In [9]:
#4-CAPTALIZE()
str1.capitalize()

'My name is sharvari'

In [10]:
#5-SWAPCASE()
str1.swapcase()

'mY NAME IS SHARVARI'

In [11]:
#6-SPLIT() 
str1.split()

['My', 'name', 'is', 'sharvari']

In [16]:
str1.index("is")

8

In [ ]:
#NUMERIC DATATYPES

In [18]:
print(input("Name of the student : "))
print(int(input("Marks obtained in python are : ")))

Name of the student : SHARVARI SANDESH WAIRKAR
SHARVARI SANDESH WAIRKAR
Marks obtained in python are : 77
77

In [ ]:
#LISTS PRACTICE

In [19]:
l1 = ["cricket",526,"football",96,78,True,"hockey","swiming"]
print(l1)
l1*2 -#to print list 2 times

['cricket', 526, 'football', 96, 78, True, 'hockey', 'swiming']

['cricket',
 526,
 'football',
 96,
 78,
 True,
 'hockey',
 'swiming',
 'cricket',
 526,
 'football',
 96,
 78,
 True,
 'hockey',
 'swiming']

In [20]:
l1 = ["cricket",526,"football",96,78,True,"hockey","swiming"]
l1[5] = "196"
print(l1)

['cricket', 526, 'football', 96, 78, '196', 'hockey', 'swiming']

In [22]:
#Finding the largest and smallest element of the list by input method

list1 = []
num = int(input("How many elements you want in a list ? : "))
for x in range(num):
    numbers = int(input("Enter the numbers "))
    list1.append(numbers) 
print("Maximum element in the list is :",max(list1))
print("Minimum element in the list is :",min(list1))

How many elements you want in a list ? : 10
Enter the numbers 10
Enter the numbers 20
Enter the numbers 85
Enter the numbers 45
Enter the numbers 79
Enter the numbers 66
Enter the numbers 459
Enter the numbers 1000
Enter the numbers 5963
Enter the numbers 259
Maximum element in the list is : 5963
Minimum element in the list is : 10

In [25]:
#SET PRACTICE
colours = {"orange","pink","blue","purple","red","yellow"}
colours2 = {"yellow","green","brown","pink"} 

colours3 = colours & colours2
print(colours3)

{'yellow', 'pink'}

In [26]:
c4 = colours | colours2
print(c4)

{'green', 'pink', 'brown', 'orange', 'red', 'blue', 'purple', 'yellow'}

In [27]:
print(colours - colours2)

{'orange', 'purple', 'red', 'blue'}

In [28]:
print(colours2.difference(colours))

{'brown', 'green'}

In [29]:
c5 = colours ^ colours2
print(c5)

{'blue', 'brown', 'orange', 'red', 'green', 'purple'}

In [ ]:
set_ = {52,963,852,741}