In [ ]:
#1. Make new list from two existing list which contain duplicate values,  
#output should be unique.

In [10]:
L1 = [100,200,600,200,900,400,100,600]
L2 = [500,700,100,700,900,100,500,400] 
print(L1)
print(L2)

[100, 200, 600, 200, 900, 400, 100, 600]
[500, 700, 100, 700, 900, 100, 500, 400]

In [11]:
S1 = set((L1))
S2 = set((L2)) 
print(S1) 
print(S2)

{900, 100, 200, 400, 600}
{100, 900, 400, 500, 700}

In [6]:
type(S1)

set

In [12]:
list_1 = list((S1))
list_2 = list((S2)) 
print(list_1)
print(list_2)

[900, 100, 200, 400, 600]
[100, 900, 400, 500, 700]

In [13]:
list_3 = list_1 + list_2 
print(list_3)

[900, 100, 200, 400, 600, 100, 900, 400, 500, 700]

In [ ]:
#Find unique tuple from existing tuple which contains lot of duplicate values.

In [14]:
tup1 = (900, 100, 200, 400, 600, 100, 900, 400, 500, 700) 
print(tup1)
type(tup1)

(900, 100, 200, 400, 600, 100, 900, 400, 500, 700)

tuple

In [27]:
set10 = set((tup1))
print(set10)
type(set10)

{100, 900, 200, 400, 500, 600, 700}

set

In [29]:
tup2 = tuple((set10))
print(tup2) 
type(tup2)

(100, 900, 200, 400, 500, 600, 700)

tuple

In [ ]:
#3. A = [1,2,3,4,5]
#   B = [1,6,7,8]
#   C = [8,9,10]
#Expected output : [1,2,3,4,5,6,7,8,9,10] & [1,8]

In [16]:
A = [1,2,3,4,5]
B = [1,6,7,8]
C = [8,9,10]

SA = set((A))
SB = set((B))
SC = set((C))

print(SA)
print(SB) 
print(SC)

{1, 2, 3, 4, 5}
{8, 1, 6, 7}
{8, 9, 10}

In [18]:
SD = SA | SB | SC 
print(SD)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
SE = SA & SB 
print(SE)

{1}

In [20]:
SF = SB & SC
print(SF)

{8}

In [24]:
SG = SE | SF 
print(SG)

{8, 1}

In [25]:
TG = tuple((SG))
print(TG)

(8, 1)

In [26]:
TD = tuple((SD))
print(TD)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)